*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poetsen One' , sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.leaderboard-box {
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    color: white;
}


.leaderboard-box h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.leaderboard-timer {
    background-color: #3a3a3a;
    color: #ffd700;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}
.leaderboard-list-item {
    display: flex;
    align-items: center;
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid black;
    
}

.leaderboard-list-item .avatar-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.leaderboard-list-item .username {
    flex-grow: 1;
}

.leaderboard-list-item .earned,
.leaderboard-list-item .reward,
.leaderboard-list-item .rank {
    margin-left: 10px;
}

.leaderboard-list-item .reward {
    color: #4CAF50;
}

.leaderboard-entry.first-place {
    box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.7);
}

.leaderboard-entry.second-place {
    box-shadow: 0 0 15px 5px rgba(192, 192, 192, 0.7);
}

.leaderboard-entry.third-place {
    box-shadow: 0 0 15px 5px rgba(205, 127, 50, 0.7);
}

.leaderboard-tabs {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.leaderboard-tabs button {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    padding: 5px 10px;
}

.leaderboard-tabs button.tab-active {
    color: white;
    border-bottom: 2px solid #ffd700;
}

.leaderboard-entries { 
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.top-ranks{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.leaderboard-entry {
    flex: 1;
    max-width: 32%;
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 15px;
    width: 32%; /* Slightly reduced from 33.33% to account for gaps */
    position: relative;
    overflow: hidden;
    margin: 0 5px; /* Adds a small gap between entries */
}
.leaderboard-entries.weekly,
.leaderboard-entries.lifetime,
.leaderboard-entries.race {
    display: flex; /* Ensures flex display is maintained when switching tabs */
}
.leaderboard-entries.weekly[style*="display: none"],
.leaderboard-entries.lifetime[style*="display: none"],
.leaderboard-entries.race[style*="display: none"] {
    display: none !important; /* Overrides inline style if necessary */
}

.leaderboard-entry.first-place {
    background: #7b4397;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
}

.leaderboard-entry.second-place {
    background: #136a8a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.leaderboard-entry.third-place {
    background: #00bf8f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.leaderboard-entry .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.leaderboard-entry .username {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}
.rank-icon {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffd700;
    color: black;
    padding: 5px 15px;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.second-place .rank-icon {
    background-color: #c0c0c0;
}

.third-place .rank-icon {
    background-color: #cd7f32;
}

.leaderboard-entry .earned,
.leaderboard-entry .reward {
    display: block;
    font-size: 14px;
}

.leaderboard-entry .reward {
    color: #00ff00;
}

.rank-icon {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffd700;
    color: black;
    padding: 5px 15px;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: flex;
}
.navlist a{
    color: lemonchiffon;
    margin-left: 50px;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: aqua;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.nav{
    background-color: #f8002f;

background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}

.button-28 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0,#fa0678 0,#850202 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 20px;
}

.button-28:focus {
    box-shadow: #850202 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-28:active {
    box-shadow: #850202 0 3px 7px inset;
    transform: translateY(2px);
}
.emethods {
    background-color: #f8002f;

background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



width: 100%;



}

.emethods-box {
    padding: 30px;
    text-align: center;
    margin-top: 80px;
    box-shadow: #850202 0 3px 10px inset;
    width: 100%;
}
.emethods-box h2{
    text-transform: uppercase;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.main-container{
    display: flex;
    padding: 10px;
    width: 100%;
}
.container { flex: 1; }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8002f;

background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */






    border-radius: 0px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    margin-top: 80px;
    max-width: 300px;
    color: white;
}


.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3.4px dashed #3c4fe0;
    object-fit: cover;
    margin-bottom: 10px;
}

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 20px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}
footer {
    background-color: #f8002f;
    
background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



        box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    text-align: right;
    color: white;

  }
  .footer-left-wrapper {
    margin-right: 240px; /* add 40px margin to the right */
  }

  .footer-left img{
    width: 100px;

  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #ccc;
  }
  
  .bx-heart {
    font-size: 14px;
  }
  
  .footer-right {
    text-align: center;
    color: lemonchiffon;
  }

@media screen and (max-width: 768px) {

    img {
        right: -5%;
    }
}


.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

h2 {
    margin: 10px 0;
}

p {
    margin: 0;
    font-size: 1em;
}


.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3.4px dashed #3c4fe0;
    object-fit: cover;
    margin-bottom: 10px;
}

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 20px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css')