*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poetsen One' , sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: flex;
}
.navlist a{
    color: lemonchiffon;
    margin-left: 50px;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: aqua;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.nav{
    background-color: #f8002f;

background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}

.button-28 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0,#fa0678 0,#850202 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 20px;
}

.button-28:focus {
    box-shadow: #850202 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-28:active {
    box-shadow: #850202 0 3px 7px inset;
    transform: translateY(2px);
}
.emethods {
    background-color: #f8002f;

background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



width: 100%;



}

.emethods-box {
    padding: 30px;
    text-align: center;
    margin-top: 80px;
    box-shadow: #850202 0 3px 10px inset;
    width: 100%;
}
.emethods-box h2{
    text-transform: uppercase;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.main-container{
    display: flex;
    padding: 10px;
    width: 100%;
}
.container { flex: 1; }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8002f;

background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */






    border-radius: 0px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    margin-top: 80px;
    max-width: 300px;
    color: white;
}


.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3.4px dashed #3c4fe0;
    object-fit: cover;
    margin-bottom: 10px;
}

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 20px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}
footer {
    background-color: #f8002f;
    
background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



        box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    text-align: right;
    color: white;

  }
  .footer-left-wrapper {
    margin-right: 240px; /* add 40px margin to the right */
  }

  .footer-left img{
    width: 100px;

  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #ccc;
  }
  
  .bx-heart {
    font-size: 14px;
  }
  
  .footer-right {
    text-align: center;
    color: lemonchiffon;
  }

@media screen and (max-width: 768px) {

    img {
        right: -5%;
    }
}


.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.rewards-container {
    border: lemonchiffon;
    border-radius: 2rem;
    margin: 8 2rem;
    padding: 7x 12px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease-in-out;
    box-shadow: #850202 0 3px 10px inset;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.card {
    background: linear-gradient(145deg, #ad8112, #cf9e1a);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.icon {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    margin: 10px 0;
}

p {
    margin: 0;
    font-size: 1em;
}

.rewards-container h2 {
    font-size: 14px;
    font-weight: 700;
    color: lemonchiffon;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin: 2%;
}
.rewards-container p {
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    margin: 2%;
}

@media (max-width: 768px) {
    .rewards-container {
        width: 80%;
        margin-bottom: 40px;
    }
}

@media (max-width: 480px) {
    .rewards-container {
        width: 90%;
        margin-bottom: 60px;
    }
    .rewards-container h2 {
        font-size: 16px;
    }
    .rewards-container p {
        font-size: 12px;
    }
}


.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3.4px dashed #3c4fe0;
    object-fit: cover;
    margin-bottom: 10px;
}

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 20px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

@media (max-width: 768px) {
    .rewards-container {
        width: 80%;
        margin-bottom: 40px;
    }
}

@media (max-width: 480px) {
    .rewards-container {
        width: 90%;
        margin-bottom: 60px;
    }
    .rewards-container h2 {
        font-size: 16px;
    }
    .rewards-container p {
        font-size: 12px;
    }
}